.date {
  font-size: 20px;
}

.title {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
  font-size: 30px;
}

.description {
  padding: 40px 60px 20px 60px;
  font-size: 17px;
  line-height: 30px;
}